<main class="grid-main">
  <section class="foto">
    <div class="item-foto"><img class="item" src="./assets/foto.jpeg" alt=""></div>
  </section>


  <section class="apresentacao">

    <h1>Rodrigo Costa</h1>
    <h2> Desenvolvedor Full-Stack</h2>
    <h2> Engenheiro da Computação</h2>
    <p>Entusiasta por Tecnologia!</p>

  </section>


  <section class="links">
    <div class="redes-sociais">

      <div class="logo"><a href="https://www.instagram.com/rodrigocostalg" target="_blank"><img class="item-logo" src="./assets/instagram.svg" alt="Instagram"></a></div>
      <div class="logo"><a href="https://github.com/rodrigodevcosta" target="_blank"><img class="item-logo" src="./assets/github.svg" alt="facebook"></a></div>
      <div class="logo"><a href="https://www.linkedin.com/in/rodrigo-da-silva-costa-920a79112" target="_blank"><img class="item-logo" src="./assets/linkedin.svg" alt="Linkedin"></a></div>

    </div>
  </section>


  <section class="botoes-conteiner">
    <div class="botoes"><a href="#sobre">Sobre</a></div>
    <div class="botoes"><a href="#tecnologias">Tecnologias e Ferramentas</a></div>
    <div class="botoes"><a href="https://api.whatsapp.com/send?phone=5524993165355" target="_blank">Contato WhatsApp</a></div>
    <div class="botoes"><a href="#">Currículo</a></div>
    <div class="botoes"><a routerLink="/projetos">Projetos</a></div>
    
  </section>


  <section class="sobre" id="sobre">
    <div class="conteudo-sobre">
      <h2>Sobre</h2>
      <p>Eu sou um engenheiro de computação formado pela UCP e estudante de residência em desenvolvimento full-stack no Senac/Serratec. Sou apaixonado por tecnologia desde criança e estou no caminho certo para me tornar um profissional altamente qualificado e bem-sucedido. Além de minhas habilidades técnicas, eu também valorizo habilidades não-técnicas, como criatividade, curiosidade, facilidade em aprender coisas novas e soft skills.</p>
      <div class="instituicoes">
        <a href="https://ucp.br/ " target="_blank"><img class="foto-sobre" src="./assets/UCP-Pequena.png" alt="Universidade Católica de Petrópolis"></a>
        <a href="https://www.senac.br/" target="_blank"><img class="foto-sobre" src="./assets/logo-senac-cnc-color-100.png" alt="Senac Rj"></a>
        <a href="https://serratec.org/" target="_blank"><img class="foto-sobre" src="./assets/logo_serratec_bco.png" alt=""></a>
      </div>
    </div>
  </section>
  <section class="tecnologias" id="tecnologias">
    <div class="conteiner-tecnologias">
      <h1>Tecnologias e Ferramentas</h1>
      <img class="foto-tecnologias" src="./assets/angular.png" alt="Angular">
      <img class="foto-tecnologias" src="./assets/java.png" alt="Java">
      <img class="foto-tecnologias" src="./assets/javascript.svg" alt="JavaScript">
      <img class="foto-tecnologias" src="./assets/react.svg" alt="React">
      <img class="foto-tecnologias" src="./assets/sass.png" alt="Sass">
    </div>
  </section>

  <section class="contato">
    <p class="pequeno">E-mail: rodrigo.dev.deb&#64;gmail.com</p>
  </section>
</main>
