

  <main class="grid-main">

    <section class="projeto-1">
      <div class="conteiner-projeto">
        <div class="botoes-navegacao"><a routerLink="/home">Voltar</a></div>
        <h1>Portifolio</h1>
        <img class="foto-projeto" src="./assets/portfolio-1.png" alt="Portfolio Rodrigo Costa">
        <p>Projeto desenvolvido com ituito aperfeiçoar conhecimento obtido na disciplina HTML e CSS</p>
        <div class="botoes"><a href="rodrigodevcosta.github.io" target="_blank">Saiba Mais</a></div>
      </div>
    </section>
    <section class="projeto-2"></section>
    <section class="projeto-3"></section>
    <section class="rodape">
      <p class="pequeno">E-mail: rodrigo.dev.deb&#64;gmail.com</p>
    </section>

  </main>

